<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/rendered_html/uslm.css">
        <link rel="stylesheet" href="/static/rendered_html/style.css">
        <script lang="text/javascript" src="/static/rendered_html/omni.js" defer></script>
        <img src="../omni.jpeg" alt="Omnibuster" style="width:100%">
    </head>

    <body>



        <main>
            <div class="stitle">
                <h1> {{ st }} </h1>
            </div>

            <div class="TOC">
                <h2> Table of Contents </h2>
                {% set index = namespace(value=0) -%}
                {% for d, l, i in info %}
                    <div class="section">
                        {% if i %}
                            <a href="section_{{i}}.html"> 
                        {% endif %}
                        {{ d }}
                        {{ l }} 
                        </a>

                    </div>
                    {% set index.value = index.value + 1 -%}
                {% endfor %}
            </div>

        </main>
          
    </body>