<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="uslm.css">
        <link rel="stylesheet" href="style.css">
        <title> Omnibuster </title>
    </head>

    <body>

        
        <main>
            <div class="TOC">
                <h1> Table of Contents </h1>
                {% for d, l, i in info %}
                    <div class="section">
                        {% if i %}
                            <a href="section_{{i}}.html"> 
                        {% endif %}
                        {{ d }}
                        {{ l }} 
                        </a>
                    </div>
                {% endfor %}
            </div>

        </main>
          
    </body>