html {
  /*margin-top: 100px;*/
  margin-bottom: 100px;
  margin-right: 250px;
  margin-left: 250px;
}

.section {
    margin-bottom: 10px;
    /*margin-left: 500px;*/
}

<<<<<<< HEAD
.buttons {
    display: flex;
    flex-direction: column;
}
=======
[href="section_None.html"] {
    margin-left: 25px;
}

[href*="section_s"] {
    margin-left: 75px;
} 

/* Breadcrumb https://www.w3schools.com/howto/howto_css_breadcrumbs.asp*/
/* Style the list */
ul.breadcrumb {
  list-style: none;
  background-color: #eee;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 3px;
  margin-left: -255px;

}
  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;

  }
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }

  title {
    margin-top: 30px;
    padding-top: 30px;
  }

